<a href="https://colab.research.google.com/github/MauricioTellezNava/viropolitica_poblacionCDMX/blob/main/maquetando_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importando datos del dataframe X
### Este dataframe ya contiene los clusters de viropoder para la poblaci칩n de la CDMX,

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
X = pd.read_csv("/content/drive/MyDrive/Ana패lisis del COVID-19 para la Ciudad de Me패xico/poblacio패n/X.csv")
X = X.drop(columns=["Unnamed: 0"])
print(X.shape)
X.head()

(1743568, 92)

,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,inst_10,...,tabaq_seIgn,otr_caso_si,otr_caso_no,otr_caso_seIgn,uci_si,uci_no,uci_noAplica,uci_noEsp,defunciones,cluster
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,2
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,3
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,3

# An치lisis de los clusters

In [4]:
"""

Cluster 0 / delta: Es el grupo m치s vulnerable frente a la viropol칤tica. Incluye a la poblaci칩n que requiri칩 mayores cuidados intensivos, ser intubada. Tuvo valores mayores de sistema inmunosuprimido, requiri칩 m침as hospitalizaciones. 
Cluster 2 / gamma: Es el segundo grupo m치s vulnerable a la viropol칤tica.
Cluster 3 / beta: Es el segundo grupo m치s capaz de ejercer la viropol칤tica. Mantiene valores bajos para cada condici칩n de riesgo.
Cluster 1 / alpha: Es el grupo m치s capaz de ejercer la viropol칤tica. Dados sus bajos valores para cada condici칩n de riesgo, es el grupo menos vulnerable. 

"""

'\n\nCluster 0 / delta: Es el grupo m치s vulnerable frente a la viropol칤tica. Incluye a la poblaci칩n que requiri칩 mayores cuidados intensivos, ser intubada. Tuvo valores mayores de sistema inmunosuprimido, requiri칩 m침as hospitalizaciones. \nCluster 2 / gamma: Es el segundo grupo m치s vulnerable a la viropol칤tica.\nCluster 3 / beta: Es el segundo grupo m치s capaz de ejercer la viropol칤tica. Mantiene valorrs bajos para cada condici칩n de riesgo.\nCluster 1 / alpha: Es el grupo m치s capaz de ejercer la viropol칤tica. Dados sus bajos valores para cada condici칩n de riesgo, es el grupo menos vulnerable. \n\n'

# Creando la columna nombre_cluster con funci칩n condicional

In [6]:
condiciones = [
    (X["cluster"]== 1),
    (X["cluster"]== 3),
    (X["cluster"]== 2),
    (X["cluster"]== 0)
               ]
nombre = ["alpha", "beta", "gamma", "delta"]

In [9]:
X["nombre_cluster"] = np.select(condiciones, nombre)
X.head(10)

,inst_1,inst_2,inst_3,inst_4,inst_5,inst_6,inst_7,inst_8,inst_9,inst_10,...,otr_caso_si,otr_caso_no,otr_caso_seIgn,uci_si,uci_no,uci_noAplica,uci_noEsp,defunciones,cluster,nombre_cluster
0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,delta
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,delta
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,2,gamma
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,3,beta
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,3,beta
5,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,3,beta
6,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,alpha
7,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,0,3,beta
8,0,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,3,beta
9,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,alpha

In [11]:
cdmx = pd.DataFrame(X["nombre_cluster"].value_counts())
cdmx

       nombre_cluster
beta           586749
gamma          505778
alpha          392414
delta          258627

# Tabla pivote

In [14]:
X_pivot = pd.pivot_table(X, index='cluster')
X_pivot["cluster"] = X_pivot.index
X_pivot[["EDAD", "defunciones", "uci_si", "intub_si", "asma_si", "diabetes_si", "inmusupr_si","indigena_si", "paciente_hosp", "obesidad_si", "renalCr_si"]]

,EDAD,defunciones,uci_si,intub_si,asma_si,diabetes_si,inmusupr_si,indigena_si,paciente_hosp,obesidad_si,renalCr_si
cluster,,,,,,,,,,,
0,68.055744,0.111794,0.012087,0.031706,0.013463,0.234102,0.011627,0.003797,0.189621,0.093536,0.018950
1,17.515665,0.000742,0.000650,0.000558,0.021256,0.004172,0.002110,0.002237,0.010769,0.032364,0.001514
2,49.491581,0.022917,0.003828,0.009299,0.017320,0.107954,0.006374,0.003278,0.058201,0.104902,0.006880
3,33.194011,0.004632,0.001275,0.002221,0.019908,0.020608,0.003083,0.002822,0.021375,0.078701,0.003201

In [15]:
X_pivot.columns

Index(['EDAD', 'alc_alv', 'alc_azcap', 'alc_beniJ', 'alc_coyo', 'alc_cuaj',
       'alc_cuauh', 'alc_gam', 'alc_iztac', 'alc_iztap', 'alc_magdC',
       'alc_migH', 'alc_milpa', 'alc_noEsp', 'alc_tlah', 'alc_tlalp',
       'alc_xoch', 'asma_no', 'asma_seIgn', 'asma_si', 'cardio_no',
       'cardio_seIgn', 'cardio_si', 'defunciones', 'diabetes_no',
       'diabetes_seIgn', 'diabetes_si', 'embarazo_no', 'embarazo_noAplica',
       'embarazo_seIgn', 'embarazo_si', 'epoc_no', 'epoc_seIgn', 'epoc_si',
       'hipert_no', 'hipert_seIgn', 'hipert_si', 'indigena_no',
       'indigena_noEsp', 'indigena_si', 'inmusupr_no', 'inmusupr_seIgn',
       'inmusupr_si', 'inst_1', 'inst_10', 'inst_11', 'inst_12', 'inst_13',
       'inst_14', 'inst_2', 'inst_3', 'inst_4', 'inst_5', 'inst_6', 'inst_7',
       'inst_8', 'inst_9', 'intub_no', 'intub_noAplica', 'intub_noEsp',
       'intub_si', 'leng_ind_no', 'leng_ind_noEsp', 'leng_ind_si',
       'neumonia_no', 'neumonia_noEsp', 'neumonia_si', 'obesidad_no',
       'obesidad_seIgn', 'obesidad_si', 'otr_caso_no', 'otr_caso_seIgn',
       'otr_caso_si', 'otr_com_no', 'otr_com_seIgn', 'otr_com_si',
       'paciente_amb', 'paciente_hosp', 'renalCr_no', 'renalCr_seIgn',
       'renalCr_si', 'sex_H', 'sex_M', 'tabaq_no', 'tabaq_seIgn', 'tabaq_si',
       'uci_no', 'uci_noAplica', 'uci_noEsp', 'uci_si', 'venusC', 'cluster'],
      dtype='object')

# Dataframes para cada alcald칤a

In [25]:
# Definiendo las relaciones entre condiciones2 y nombre2 a partir de la columna "cluster" de azcapotzalco

azcapotzalco = pd.DataFrame(X[X["alc_azcap"]==1]["cluster"].value_counts()).reset_index()
azcapotzalco = azcapotzalco.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")

condiciones2 = [
    (azcapotzalco["cluster"]== 1),
    (azcapotzalco["cluster"]== 3),
    (azcapotzalco["cluster"]== 2),
    (azcapotzalco["cluster"]== 0)
               ]
nombre2 = ["alpha", "beta", "gamma", "delta"]

In [26]:
azcapotzalco["nombre"] = np.select(condiciones2, nombre2)

alvaroOb = pd.DataFrame(X[X["alc_alv"]==1]["cluster"].value_counts()).reset_index()
alvaroOb = alvaroOb.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
alvaroOb["nombre"] = np.select(condiciones2, nombre2)

benitoJ = pd.DataFrame(X[X["alc_beniJ"]==1]["cluster"].value_counts()).reset_index()
benitoJ = benitoJ.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
benitoJ["nombre"] = np.select(condiciones2, nombre2)

coyoacan = pd.DataFrame(X[X["alc_coyo"]==1]["cluster"].value_counts()).reset_index()
coyoacan = coyoacan.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
coyoacan["nombre"] = np.select(condiciones2, nombre2)

cuajimalpa = pd.DataFrame(X[X["alc_cuaj"]==1]["cluster"].value_counts()).reset_index()
cuajimalpa = cuajimalpa.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
cuajimalpa["nombre"] = np.select(condiciones2, nombre2)

cuauhtemoc = pd.DataFrame(X[X["alc_cuauh"]==1]["cluster"].value_counts()).reset_index()
cuauhtemoc = cuauhtemoc.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
cuauhtemoc["nombre"] = np.select(condiciones2, nombre2)

gam = pd.DataFrame(X[X["alc_gam"]==1]["cluster"].value_counts()).reset_index()
gam = gam.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
gam["nombre"] = np.select(condiciones2, nombre2)

iztacalco = pd.DataFrame(X[X["alc_iztac"]==1]["cluster"].value_counts()).reset_index()
iztacalco = iztacalco.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
iztacalco["nombre"] = np.select(condiciones2, nombre2)

iztapalapa = pd.DataFrame(X[X["alc_iztap"]==1]["cluster"].value_counts()).reset_index()
iztapalapa = iztapalapa.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
iztapalapa["nombre"] = np.select(condiciones2, nombre2)

magdalenaC = pd.DataFrame(X[X["alc_magdC"]==1]["cluster"].value_counts()).reset_index()
magdalenaC = magdalenaC.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
magdalenaC["nombre"] = np.select(condiciones2, nombre2)

miguelH = pd.DataFrame(X[X["alc_migH"]==1]["cluster"].value_counts()).reset_index()
miguelH = miguelH.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
miguelH["nombre"] = np.select(condiciones2, nombre2)

milpaA = pd.DataFrame(X[X["alc_milpa"]==1]["cluster"].value_counts()).reset_index()
milpaA = milpaA.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
milpaA["nombre"] = np.select(condiciones2, nombre2)

noEspecificado = pd.DataFrame(X[X["alc_noEsp"]==1]["cluster"].value_counts()).reset_index()
noEspecificado = noEspecificado.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
noEspecificado["nombre"] = np.select(condiciones2, nombre2)

tlahuac = pd.DataFrame(X[X["alc_tlah"]==1]["cluster"].value_counts()).reset_index()
tlahuac = tlahuac.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
tlahuac["nombre"] = np.select(condiciones2, nombre2)

tlalpan = pd.DataFrame(X[X["alc_tlalp"]==1]["cluster"].value_counts()).reset_index()
tlalpan = tlalpan.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
tlalpan["nombre"] = np.select(condiciones2, nombre2)

venustianoC = pd.DataFrame(X[X["venusC"]==1]["cluster"].value_counts()).reset_index()
venustianoC = venustianoC.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
venustianoC["nombre"] = np.select(condiciones2, nombre2)

xochimilco = pd.DataFrame(X[X["alc_xoch"]==1]["cluster"].value_counts()).reset_index()
xochimilco = xochimilco.rename({"index":"cluster", "cluster":"poblacion"}, axis="columns")
xochimilco["nombre"] = np.select(condiciones2, nombre2)

In [27]:
tlahuac

   cluster  poblacion nombre
0        3      29585   beta
1        2      24467  gamma
2        1      21923  alpha
3        0      10637  delta

In [28]:
magdalenaC

   cluster  poblacion nombre
0        3      16260   beta
1        2      14724  gamma
2        1      12129  alpha
3        0       6591  delta